In [48]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [49]:
url = "https://www.espncricinfo.com/series/icc-men-s-t20-world-cup-2024-1411166/india-vs-south-africa-final-1415755/ball-by-ball-commentary"

In [50]:
driver = webdriver.Chrome()

In [51]:
driver.get(url)

In [20]:
html = driver.page_source

In [21]:
soup = BeautifulSoup(html, "html.parser")

In [7]:
ball = soup.find_all("div" , class_ = "ds-leading-none ds-mb-0.5")
for i in ball:
    print(i.text)

Hardik to Nortje,  1 run
Hardik to Rabada, OUT
Hardik to Rabada, 1 wide
Hardik to Maharaj, 1 leg bye
Hardik to Rabada, 1 bye
Hardik to Rabada, FOUR runs
Hardik to Miller, OUT
Arshdeep Singh to Maharaj, no run
Arshdeep Singh to Miller,  1 run
Arshdeep Singh to Miller,  2 runs
Arshdeep Singh to Maharaj,  1 run
Arshdeep Singh to Maharaj, no run
Arshdeep Singh to Maharaj, no run
Bumrah to Maharaj,  1 run
Bumrah to Maharaj, no run
Bumrah to Jansen, OUT
Bumrah to Miller,  1 run
Bumrah to Miller, no run
Bumrah to Miller, no run
Hardik to Miller,  1 run
Hardik to Jansen,  1 run
Hardik to Miller,  1 run
Hardik to Jansen,  1 run
Hardik to Jansen, no run
Hardik to Klaasen, OUT
Bumrah to Miller, no run
Bumrah to Klaasen,  1 run
Bumrah to Klaasen, no run
Bumrah to Klaasen, no run
Bumrah to Klaasen,  2 runs
Bumrah to Miller,  1 run
Axar Patel to Klaasen,  2 runs
Axar Patel to Klaasen, FOUR runs
Axar Patel to Klaasen,  SIX runs
Axar Patel to Klaasen,  SIX runs
Axar Patel to Klaasen, no run
Axar Patel to Klaasen, 1 wide
Axar Patel to Klaasen, 1 wide
Axar Patel to Klaasen, FOUR runs
Kuldeep to Miller,  SIX runs
Kuldeep to Miller, FOUR runs
Kuldeep to Klaasen,  1 run
Kuldeep to Miller,  1 run
Kuldeep to Miller, no run
Kuldeep to Miller,  2 runs
Arshdeep Singh to Klaasen,  2 runs
Arshdeep Singh to Miller,  1 run
Arshdeep Singh to Miller, no run
Arshdeep Singh to de Kock, OUT
Arshdeep Singh to de Kock, FOUR runs
Arshdeep Singh to Klaasen,  1 run
Kuldeep to de Kock, no run
Kuldeep to de Kock, no run
Kuldeep to Klaasen,  1 run
Kuldeep to Klaasen,  SIX runs
Kuldeep to Klaasen, no run
Kuldeep to de Kock,  1 run
Jadeja to de Kock,  1 run
Jadeja to de Kock,  2 runs
Jadeja to Klaasen,  1 run
Jadeja to Klaasen,  SIX runs
Jadeja to de Kock,  1 run
Jadeja to Klaasen,  1 run
Hardik to Klaasen,  1 run
Hardik to de Kock,  1 run
Hardik to Klaasen, (no ball) 1 run
Hardik to Klaasen,  SIX runs
Hardik to Klaasen, no run
Hardik to Klaasen, no run
Hardik to Klaasen, no run
Axar Patel to Klaasen, 1 leg bye
Axar Patel to Stubbs, OUT
Axar Patel to Stubbs, no run
Axar Patel to de Kock,  1 run
Axar Patel to Stubbs,  1 run
Axar Patel to Stubbs,  SIX runs
Kuldeep to de Kock,  SIX runs
Kuldeep to de Kock, no run
Kuldeep to Stubbs,  1 run
Kuldeep to de Kock,  1 run
Kuldeep to Stubbs,  1 run
Kuldeep to Stubbs, FOUR runs
Axar Patel to de Kock, no run
Axar Patel to de Kock, no run
Axar Patel to Stubbs,  1 run
Axar Patel to Stubbs, FOUR runs
Axar Patel to de Kock,  1 run
Axar Patel to Stubbs,  1 run
Kuldeep to de Kock, FOUR runs
Kuldeep to de Kock, no run
Kuldeep to Stubbs,  1 run
Kuldeep to Stubbs,  2 runs
Kuldeep to Stubbs,  2 runs
Kuldeep to de Kock,  1 run
Axar Patel to de Kock,  1 run
Axar Patel to de Kock, FOUR runs
Axar Patel to Stubbs,  1 run
Axar Patel to Stubbs, no run
Axar Patel to Stubbs, FOUR runs
Axar Patel to Stubbs, no run
Bumrah to Stubbs,  1 run
Bumrah to Stubbs, no run
Bumrah to Stubbs, no run
Bumrah to de Kock,  1 run
Bumrah to de Kock,  2 runs
Bumrah to de Kock, FOUR runs
Arshdeep Singh to de Kock,  1 run
Arshdeep Singh to de Kock, no run
Arshdeep Singh to Stubbs,  1 run
Arshdeep Singh to Markram, OUT
Arshdeep Singh to Markram, no run
Arshdeep Singh to de Kock,  1 run
Bumrah to Markram, no run
Bumrah to Markram, no run
Bumrah to Markram, FOUR runs
Bumrah to Hendricks, OUT
Bumrah to de Kock, 1 leg bye
Bumrah to de Kock, no run
Arshdeep Singh to Hendricks, FOUR runs
Arshdeep Singh to de Kock,  1 run
Arshdeep Singh to de Kock, no run
Arshdeep Singh to Hendricks, 1 leg bye
Arshdeep Singh to Hendricks, no run
Arshdeep Singh to Hendricks, no run

In [22]:
ball1 = soup.find_all("div" , class_ = "ds-leading-none ds-mb-0.5")
for i in ball1:
    print(i.text)

Nortje to Jadeja, OUT
Nortje to Jadeja,  2 runs
Nortje to Dube, OUT
Nortje to Dube, FOUR runs
Nortje to Hardik,  1 run
Nortje to Dube,  1 run
Nortje to Dube, 1 wide
Jansen to Hardik, FOUR runs
Jansen to Kohli, OUT
Jansen to Kohli,  SIX runs
Jansen to Kohli,  2 runs
Jansen to Kohli, FOUR runs
Jansen to Kohli, no run
Jansen to Kohli, (no ball)
Rabada to Kohli,  1 run
Rabada to Dube,  1 run
Rabada to Dube, 1 wide
Rabada to Kohli,  1 run
Rabada to Kohli, FOUR runs
Rabada to Kohli,  2 runs
Rabada to Kohli,  SIX runs
Nortje to Dube, FOUR runs
Nortje to Kohli,  1 run
Nortje to Kohli, no run
Nortje to Dube,  1 run
Nortje to Kohli,  1 run
Nortje to Dube,  1 run
Shamsi to Dube,  1 run
Shamsi to Dube, FOUR runs
Shamsi to Kohli,  1 run
Shamsi to Dube,  1 run
Shamsi to Dube, no run
Shamsi to Kohli,  1 run
Jansen to Kohli,  1 run
Jansen to Dube,  1 run
Jansen to Kohli,  1 run
Jansen to Kohli, no run
Jansen to Dube,  1 run
Jansen to Dube,  SIX runs
Rabada to Dube,  1 run
Rabada to Dube, no run
Rabada to Kohli,  1 run
Rabada to Kohli, OUT
Rabada to Kohli, 1 wide
Rabada to Axar Patel,  1 run
Rabada to Axar Patel,  SIX runs
Nortje to Axar Patel,  1 run
Nortje to Axar Patel, no run
Nortje to Axar Patel, 1 wide
Nortje to Kohli,  1 run
Nortje to Kohli, no run
Nortje to Axar Patel,  1 run
Nortje to Kohli,  1 run
Shamsi to Axar Patel,  2 runs
Shamsi to Axar Patel,  SIX runs
Shamsi to Kohli,  1 run
Shamsi to Axar Patel,  1 run
Shamsi to Kohli,  1 run
Shamsi to Kohli, no run
Jansen to Kohli,  1 run
Jansen to Kohli, 1 wide
Jansen to Axar Patel,  1 run
Jansen to Kohli,  1 run
Jansen to Axar Patel,  1 run
Jansen to Kohli,  1 run
Jansen to Axar Patel,  1 run
Shamsi to Kohli,  2 runs
Shamsi to Kohli,  2 runs
Shamsi to Axar Patel,  1 run
Shamsi to Axar Patel, no run
Shamsi to Axar Patel, no run
Shamsi to Kohli,  1 run
Shamsi to Kohli, 1 wide
Maharaj to Axar Patel, no run
Maharaj to Axar Patel, no run
Maharaj to Axar Patel,  SIX runs
Maharaj to Kohli,  1 run
Maharaj to Axar Patel,  1 run
Maharaj to Kohli,  1 run
Markram to Kohli,  1 run
Markram to Axar Patel,  1 run
Markram to Axar Patel, no run
Markram to Axar Patel,  SIX runs
Markram to Kohli,  1 run
Markram to Axar Patel,  1 run
Nortje to Axar Patel,  1 run
Nortje to Kohli,  1 run
Nortje to Kohli, no run
Nortje to Axar Patel,  1 run
Nortje to Axar Patel, no run
Nortje to Kohli,  1 run
Markram to Kohli,  1 run
Markram to Axar Patel,  1 run
Markram to Kohli,  1 run
Markram to Axar Patel,  1 run
Markram to Kohli,  1 run
Markram to Axar Patel,  1 run
Rabada to Axar Patel,  1 run
Rabada to Axar Patel, no run
Rabada to Axar Patel, FOUR runs
Rabada to Suryakumar, OUT
Rabada to Kohli,  1 run
Rabada to Suryakumar,  1 run
Maharaj to Kohli, no run
Maharaj to Kohli, no run
Maharaj to Kohli, FOUR runs
Maharaj to Kohli, no run
Maharaj to Kohli, no run
Maharaj to Kohli,  2 runs
Rabada to Suryakumar,  2 runs
Rabada to Suryakumar, no run
Rabada to Kohli,  1 run
Rabada to Kohli, no run
Rabada to Kohli, no run
Rabada to Kohli, no run
Maharaj to Pant, OUT
Maharaj to Pant, no run
Maharaj to Rohit Sharma, OUT
Maharaj to Rohit Sharma, no run
Maharaj to Rohit Sharma, FOUR runs
Maharaj to Rohit Sharma, FOUR runs
Jansen to Kohli, FOUR runs
Jansen to Kohli, no run
Jansen to Kohli,  2 runs
Jansen to Kohli, FOUR runs
Jansen to Kohli, FOUR runs
Jansen to Rohit Sharma,  1 run

In [8]:
ballcount = soup.find_all("div", class_ = "lg:ds-flex lg:ds-items-center lg:ds-px-2")
for j in ballcount:
    print(j.text)

19.61
19.5W
19.51w
19.41lb
19.31b
19.24
19.1W
18.6•
18.51
18.42
18.31
18.2•
18.1•
17.61
17.5•
17.4W
17.31
17.2•
17.1•
16.61
16.51
16.41
16.31
16.2•
16.1W
15.6•
15.51
15.4•
15.3•
15.22
15.11
14.62
14.54
14.46
14.36
14.2•
14.21w
14.21w
14.14
13.66
13.54
13.41
13.31
13.2•
13.12
12.62
12.51
12.4•
12.3W
12.24
12.11
11.6•
11.5•
11.41
11.36
11.2•
11.11
10.61
10.52
10.41
10.36
10.21
10.11
9.61
9.51
9.52nb
9.46
9.3•
9.2•
9.1•
8.61lb
8.5W
8.4•
8.31
8.21
8.16
7.66
7.5•
7.41
7.31
7.21
7.14
6.6•
6.5•
6.41
6.34
6.21
6.11
5.64
5.5•
5.41
5.32
5.22
5.11
4.61
4.54
4.41
4.3•
4.24
4.1•
3.61
3.5•
3.4•
3.31
3.22
3.14
2.61
2.5•
2.41
2.3W
2.2•
2.11
1.6•
1.5•
1.44
1.3W
1.21lb
1.1•
0.64
0.51
0.4•
0.31lb
0.2•
0.1•

In [23]:
ballcount1 = soup.find_all("div", class_ = "lg:ds-flex lg:ds-items-center lg:ds-px-2")
for j in ballcount1:
    print(j.text)

19.6W
19.52
19.4W
19.34
19.21
19.11
19.11w
18.64
18.5W
18.46
18.32
18.24
18.1•
18.11nb
17.61
17.51
17.51w
17.41
17.34
17.22
17.16
16.64
16.51
16.4•
16.31
16.21
16.11
15.61
15.54
15.41
15.31
15.2•
15.11
14.61
14.51
14.41
14.3•
14.21
14.16
13.61
13.5•
13.41
13.3W
13.31w
13.21
13.16
12.61
12.5•
12.51w
12.41
12.3•
12.21
12.11
11.62
11.56
11.41
11.31
11.21
11.1•
10.61
10.61w
10.51
10.41
10.31
10.21
10.11
9.62
9.52
9.41
9.3•
9.2•
9.11
9.11w
8.6•
8.5•
8.46
8.31
8.21
8.11
7.61
7.51
7.4•
7.36
7.21
7.11
6.61
6.51
6.4•
6.31
6.2•
6.11
5.61
5.51
5.41
5.31
5.21
5.11
4.61
4.5•
4.44
4.3W
4.21
4.11
3.6•
3.5•
3.44
3.3•
3.2•
3.12
2.62
2.5•
2.41
2.3•
2.2•
2.1•
1.6W
1.5•
1.4W
1.3•
1.24
1.14
0.64
0.5•
0.42
0.34
0.24
0.11

In [9]:
c = soup.find_all("div", class_ = "ds-rounded ds-bg-fill-content-alternate ds-ml-4 lg:ds-ml-3 ds-mt-1 ds-inline-block ds-p-1")
for i in c:
    print(i.text)

Kagiso Rabada c Yadav b Pandya 4 (3b 1x4 0x6 5m) SR: 133.33
David Miller c Yadav b Pandya 21 (17b 1x4 1x6 37m) SR: 123.52
Marco Jansen b Bumrah 2 (4b 0x4 0x6 7m) SR: 50
Heinrich Klaasen c †Pant b Pandya 52 (27b 2x4 5x6 33m) SR: 192.59
Quinton de Kock c Kuldeep Yadav b Arshdeep Singh 39 (31b 4x4 1x6 54m) SR: 125.8
Tristan Stubbs b Patel 31 (21b 3x4 1x6 24m) SR: 147.61
Aiden Markram c †Pant b Arshdeep Singh 4 (5b 1x4 0x6 4m) SR: 80
Reeza Hendricks b Bumrah 4 (5b 1x4 0x6 6m) SR: 80

In [24]:
c1 = soup.find_all("div", class_ = "ds-rounded ds-bg-fill-content-alternate ds-ml-4 lg:ds-ml-3 ds-mt-1 ds-inline-block ds-p-1")
for i in c1:
    print(i.text)

Ravindra Jadeja c Maharaj b Nortje 2 (2b 0x4 0x6 1m) SR: 100
Shivam Dube c Miller b Nortje 27 (16b 3x4 1x6 32m) SR: 168.75
Virat Kohli c Rabada b Jansen 76 (59b 6x4 2x6 87m) SR: 128.81
Axar Patel run out (†de Kock) 47 (31b 1x4 4x6 38m) SR: 151.61
Suryakumar Yadav c Klaasen b Rabada 3 (4b 0x4 0x6 9m) SR: 75
Rishabh Pant c †de Kock b Maharaj 0 (2b 0x4 0x6 2m) SR: 0
Rohit Sharma c Klaasen b Maharaj 9 (5b 2x4 0x6 7m) SR: 180

In [10]:
import pandas as pd
import numpy as np

In [11]:
columns = ["Team","Over","Batter","Bowler","Runs_Batter","Runs_Extra","Runs_Total","Player_Out","Wicket_Kind","Fielders"]

In [12]:
df = pd.DataFrame(columns=columns)

In [13]:
df

Empty DataFrame
Columns: [Team, Over, Batter, Bowler, Runs_Batter, Runs_Extra, Runs_Total, Player_Out, Wicket_Kind, Fielders]
Index: []

In [14]:
df1 = pd.DataFrame(columns=columns)
df1

Empty DataFrame
Columns: [Team, Over, Batter, Bowler, Runs_Batter, Runs_Extra, Runs_Total, Player_Out, Wicket_Kind, Fielders]
Index: []

In [16]:
j = 0
for i in range(124):
    over = int(ballcount[i].text.split(".")[0])
    batter = ball[i].text.split(" to ")[1].split(",")[0]
    bowler = ball[i].text.split(" to")[0]
    if ball[i].text.split(" ")[-1] == "bye" or ball[i].text.split(" ")[-1] == "wide" :
        runs_batter = 0
        runs_extra = int(ballcount[i].text.split(".")[1][1:2])
    elif ball[i].text.split(" ")[-1] == "OUT" :
        runs_batter = 0
        runs_extra = 0
    elif ballcount[i].text[-2] == "n" :
        runs_extra = 1
        runs_batter = int(ballcount[i].text.split(".")[1][1:2])-1
    else :
        if ballcount[i].text.split(".")[1][1:2] == '•':
            runs_batter = 0
        else :
            runs_batter = int(ballcount[i].text.split(".")[1][1:2])
        runs_extra = 0
    if ballcount[i].text[-1] == "W":
        player_out = c[j].text.split(" b ")[0].split(" c ")[0]
        wicket_kind = "caught" if " c " in c[j].text else "bowled"
        fielders = c[j].text.split(" c ")[1].split(" b ")[0] if " c " in c[j].text else np.nan
        j = j+1
    else : 
        player_out = np.nan
        wicket_kind = np.nan
        fielders = np.nan
    
    a = ["RSA",over,batter,bowler,runs_batter,runs_extra,runs_batter+runs_extra,player_out,wicket_kind,fielders]
    df.loc[i] = a

In [44]:
j = 0
for i in range(127):
    over = int(ballcount1[i].text.split(".")[0])
    batter = ball1[i].text.split(" to ")[1].split(",")[0]
    bowler = ball1[i].text.split(" to")[0]
    if ball1[i].text.split(" ")[-1] == "bye" or ball1[i].text.split(" ")[-1] == "wide" :
        runs_batter = 0
        runs_extra = int(ballcount1[i].text.split(".")[1][1:2])
    elif ball1[i].text.split(" ")[-1] == "OUT" :
        runs_batter = 0
        runs_extra = 0
    elif ballcount1[i].text[-2] == "n" :
        runs_extra = 1
        runs_batter = int(ballcount1[i].text.split(".")[1][1:2])-1
    else :
        if ballcount1[i].text.split(".")[1][1:2] == '•':
            runs_batter = 0
        else :
            runs_batter = int(ballcount1[i].text.split(".")[1][1:2])
        runs_extra = 0
    if ballcount1[i].text[-1] == "W":
        player_out = c1[j].text.split(" run out")[0] if " run out " in c1[j].text else c1[j].text.split(" b ")[0].split(" c ")[0] 
        wicket_kind = "caught" if " c " in c1[j].text else "run out" if "run out" in c1[j].text else "bowled"
        fielders = c1[j].text.split(" c ")[1].split(" b ")[0] if " c " in c1[j].text else c1[j].text.split("(")[1].split(")")[0] if "run out" in c1[j].text else np.nan
        j = j+1
    else : 
        player_out = np.nan
        wicket_kind = np.nan
        fielders = np.nan
    
    a = ["IND",over,batter,bowler,runs_batter,runs_extra,runs_batter+runs_extra,player_out,wicket_kind,fielders]
    df1.loc[i] = a

In [40]:
for j in range(7):
    fielders = c1[j].text.split(" c ")[1].split(" b ")[0] if " c " in c1[j].text else c1[j].text.split("(")[1].split(")")[0] if "run out" in c1[j].text else np.nan
    print(fielders)

Maharaj
Miller
Rabada
†de Kock
Klaasen
†de Kock
Klaasen

In [17]:
df.tail(10)

,Team,Over,Batter,Bowler,Runs_Batter,Runs_Extra,Runs_Total,Player_Out,Wicket_Kind,Fielders
114,RSA,1,Markram,Bumrah,4,0,4,NaN,NaN,NaN
115,RSA,1,Hendricks,Bumrah,0,0,0,Reeza Hendricks,bowled,NaN
116,RSA,1,de Kock,Bumrah,0,1,1,NaN,NaN,NaN
117,RSA,1,de Kock,Bumrah,0,0,0,NaN,NaN,NaN
118,RSA,0,Hendricks,Arshdeep Singh,4,0,4,NaN,NaN,NaN
119,RSA,0,de Kock,Arshdeep Singh,1,0,1,NaN,NaN,NaN
120,RSA,0,de Kock,Arshdeep Singh,0,0,0,NaN,NaN,NaN
121,RSA,0,Hendricks,Arshdeep Singh,0,1,1,NaN,NaN,NaN
122,RSA,0,Hendricks,Arshdeep Singh,0,0,0,NaN,NaN,NaN
123,RSA,0,Hendricks,Arshdeep Singh,0,0,0,NaN,NaN,NaN

In [45]:
df1.tail(10)

,Team,Over,Batter,Bowler,Runs_Batter,Runs_Extra,Runs_Total,Player_Out,Wicket_Kind,Fielders
117,IND,1,Rohit Sharma,Maharaj,0,0,0,Rohit Sharma,caught,Klaasen
118,IND,1,Rohit Sharma,Maharaj,0,0,0,NaN,NaN,NaN
119,IND,1,Rohit Sharma,Maharaj,4,0,4,NaN,NaN,NaN
120,IND,1,Rohit Sharma,Maharaj,4,0,4,NaN,NaN,NaN
121,IND,0,Kohli,Jansen,4,0,4,NaN,NaN,NaN
122,IND,0,Kohli,Jansen,0,0,0,NaN,NaN,NaN
123,IND,0,Kohli,Jansen,2,0,2,NaN,NaN,NaN
124,IND,0,Kohli,Jansen,4,0,4,NaN,NaN,NaN
125,IND,0,Kohli,Jansen,4,0,4,NaN,NaN,NaN
126,IND,0,Rohit Sharma,Jansen,1,0,1,NaN,NaN,NaN

In [46]:
df1.to_csv('ind_innings.csv')

In [52]:
df.to_csv('rsa_innings.csv')